logs
target
/.g8
/.metals
/.vscode
/.bsp
/.bloop
/project/.bloop
/project/project/.bloop
/project/metals.sbt
/project/project/metals.sbt
/project/project/project/metals.sbt
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.sh



