@(tui: UNO.aview.TUI)
@import UNO.util.{State, gameStatsEvent, instructionEvent}
@import UNO.controller.controllerComponent.controllerInterface

@main("UNO-WebApplication") {

<body>
    <div>
        <br><br><br>
        <div id=uno-GameFild>
            <div class="maincontent_Center">
                <div id="gameMessage">
                </div>
                <div class="maincontent_Left">
                    <calluno_pullstack></calluno_pullstack>
                </div>
                <div id=stackCard></div>
                <br>
                <br>
                <div id="handCard">
                </div>
            </div>


        </div>
        <div id="wishGame-GameField">
                <wishcards></wishcards>
            </div>
        </div>
    </div>
</body>
}